$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.row img {
  max-width: 250px;
}

.summary-link .image-wrapper {
  position: relative;
}

.summary-link .image-wrapper .image-caption {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 23px;
  line-height: 300px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  position: absolute;
  top: 0;
  width: 100%;
}

//.summary-link .image-wrapper img {
//  display: block;
//  -webkit-transition: opacity 150ms ease-in;
//  -moz-transition: opacity 150ms ease-in;
//  -o-transition: opacity 150ms ease-in;
//  transition: opacity 150ms ease-in;
//}

.summary-link .image-wrapper img {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.summary-link .image-wrapper img:hover {
  opacity: 0.5;
}

.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}

.buttonDim {
  @include button-variant(#333332, #a22222, #e33333);
}

.row {
  margin: 0 auto;
  @include clearfix();
}

.combo {
  height: 20px;
}

.grad {
//  @include gradient-horizontal($start-color: #2f9771, $end-color: #978442, $start-percent: 0%, $end-percent: 100%);
//  @include make-row;
  @include make-xs-column(3);
  height: 30px;
}


section {
  @include make-row();
  article {
    @include make-lg-column(2);
  }
}


.example {
  @include size (16%, 300px);
  background-color: red;
}

