<div class="items-list">
  <div class="item">
    <div class="item-name">Product first</div>
    <div class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </div>
  <div class="item">
    <div class="item-name">Product second</div>
    <div class="item-description">Ratione, ullam, reprehenderit aliquid saepe ab harum.</div>
  </div>
  <div class="item">
    <div class="item-name">Product third</div>
    <div class="item-description"> totam repudiandae velit eum accusantium veritatis.</div>
  </div>
</div>
