<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">


  <title>Simple menu 3</title>

  <link rel="stylesheet" href="../styles/style.css">
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="../scripts/index.js"></script>

</head>

<body>

<ul class="menubar">
  <li class="menubar-item">
    <a class="menubar-item-target" href="#">File</a>
    <ul class="menu">
      <li class="menu-item"><a class="menu-item-target" href="#">Open</a></li>
      <li class="menu-item"><a class="menu-item-target" href="#">Save</a></li>
      <li class="menu-item"><a class="menu-item-target" href="#">Save as&#8230;</a></li>
      <li class="menu-item"><a class="menu-item-target" href="#">Close</a></li>
      <li class="menu-separator"></li>
      <li class="menu-item"><a class="menu-item-target" href="#">Exit</a></li>
    </ul>
  </li>
  <li class="menubar-item">
    <a class="menubar-item-target" href="#">Edit</a>
    <ul class="menu">
      <li class="menu-item"><a class="menu-item-target" href="#">Cut</a></li>
      <li class="menu-item"><a class="menu-item-target" href="#">Copy</a></li>
      <li class="menu-item"><a class="menu-item-target" href="#">Paste</a></li>
    </ul>
  </li>
  <li class="menubar-item">
    <a class="menubar-item-target" href="#">Help</a>
    <ul class="menu">
      <li class="menu-item"><a class="menu-item-target" href="#">About</a></li>
    </ul>
  </li>
</ul>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="js/index.js"></script>


</body>
</html>
